:root {
  --accent: #0B7D6A;
  --error: rgb(255, 67, 67);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  height: 100%;
  font-size: 14px
}

body{
    background-color: #E0F1E7;
    display: flex;
    align-items:center ;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
body>div{
    background-color: white;
    padding: 1.5rem;
    border-radius: 0.5rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
body>div>form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 1rem;
}
.single-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}


.double-group{
    display: flex;
    gap: 1rem;
}

.double-group> .single-group{
    flex:1
}

.required::after{
    content: "*";
    color: #0B7D6A;
    font-size: 10px;
}

.enquiry{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.enquiry > label {
  flex: 1;
}

.input,button{
    padding: 0.75rem;
    border-radius: 0.25rem;
}
.pointer{
    cursor: pointer;
}
.input{
     border: 0.5px solid grey;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: var(--accent);
   border-radius: 0.25rem;
}


button{
    background-color: #0B7D6A;
    border: none;
    color: white;
}

textarea{
    min-height: 80px;
    padding: 1rem;
    resize: none;
}



.error {
  display: none;
  color: var(--error);
  font-size: 0.8rem;
}

form.submitted .single-group:has(:invalid) .error {
  display: block;
}


form.submitted :invalid {
  border-color: var(--error);
}

.attribution{
    font-size: 10px;
}
.label-flex{
    display: flex;
    align-items: center;
    gap:4px
}

input[type="checkbox"] {
  accent-color: #0B7D6A;
}

input[type="radio"] {
  accent-color: var(--accent);
}



@media (max-width: 600px) {
  .double-group {
    flex-direction: column;
  }
}




